:root {
	--red-color: #be3144;
	--white-color: #f0f0f0;
	--darkblue-color: #303841;
	--lightblue-color: #45567d;
	--normal-font: "Raleway", sans-serif;
	--heading-font: "Poppins", sans-serif;
}
html {
	/*Setting the default font size for the entire site. This will set the default font-size as 10px for the web page*/
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	font-family: var(--normal-font);
	display: grid;
	grid-template-rows: 100vh 200vh 80vh;
}
#navbar {
	width: 100%;
	height: 7rem;
	padding-right: 2rem;
	background-color: var(--red-color);
	position: fixed;
	top: 0;
	z-index: 5;
}
#navbar ul {
	height: inherit;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#navbar li {
	width: fit-content;
	height: inherit;
	font-size: 23px;
	align-content: center;
	padding: 0 2rem;
}
#navbar a {
	color: var(--white-color);
	text-decoration: none;
}
.nav-link {
	text-decoration: none;
}
#navbar ul li:hover {
	background-color: var(--lightblue-color);
}
#welcome-section {
	/*background: linear-gradient(90deg, #373a3d 30%, black);*/
	background: linear-gradient(45deg, #373a3d 30%, #2b2a2a 60%);
	grid-row-start: 1;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 50vw 1fr;
	align-items: center;
	justify-items: center;
}
#greeting {
	grid-column-start: 2;
	grid-row-start: 2;
}
#greeting h1 {
	font-size: 5.5rem;
	font-weight:600;
	font-family: var(--heading-font);
}
#greeting p {
	color: var(--red-color);
	font-size: 3rem;
	text-indent: 50px;
}
/*Styles --Start---------Projects (Section 2)---------------*/
#projects {
	background-color: var(--lightblue-color);
	height: 200vh;
	padding: 20px 0;
	grid-row-start: 2; /*this belongs body element's Grid*/
	display: grid; /*this is section 2, projects' grid*/
	grid-template-rows: 30vh 1fr 1fr 30vh;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.col-1 {
	grid-column-start: 1;
}
.col-2 {
	grid-column-start: 2;
}
.col-3 {
	grid-column-start: 3;
}
.col-e {
	grid-column-end: -1;
}
.row-1 {
	grid-row-start: 1;
}
.row-2 {
	grid-row-start: 2;
}
.row-3 {
	grid-row-start: 3;
}
.row-4 {
	grid-row-start: 4;
}
.sub-heading {
	font-size: 4rem;
	font-weight: bold;
	font-family: var(--heading-font);
	border-bottom: 2px solid var(--white-color);
}
.project-tile {
	background-color: var(--darkblue-color);
	border:1px solid var(--darkblue-color);
}
.project-tile img {
	max-width: 400px;
}
.tile-text {
	font-size: 2.5rem;
	font-family: var(--heading-font);
	color: var(--white-color);
	background-color: var(--darkblue-color);
	text-align: center;
	align-content: center;
	height: 100px;
}
.tile-text-sub {
	color: var(--white-color);
	transition: color 0.3s ease-out;
}
.project-tile:hover .tile-text-sub {
	color: orangered;
}
#profile-link {
	font-size: 2rem;
	font-family: var(--heading-font);
	background-color: var(--darkblue-color);
	transition: background-color 0.3s ease-out;
	padding: 1rem 2rem;
	box-shadow: 1px 1px 0 1px #292e35;
}
#profile-link:hover {
	background-color: var(--red-color);
	transition-timing-function: ease-in-out;
}
/*Styles --End---------Projects (Section 2)---------------*/

/*Styles --Start---------contacts-container (Section 3)---------------*/
#contacts-container {
	grid-row-start: 3;
	height: 100vh;
	display: grid; /*Grid layout for the Social media contacts section(section 3)*/
	grid-template-rows: 1fr 40vh 1fr;
	grid-template-columns: 1fr 60vw 1fr;
	justify-items: center;
}
#contacts-container h2,
#contacts-container p,
#contacts {
	grid-row-start: 2;
	grid-column-start: 2;
}
#contacts-container h2 {
	font-size: 6rem;
	line-height: 1;
	align-self: flex-start;
	font-family: var(--normal-font);
}
#contacts-container p {
	font-size: 2rem;
	font-weight: lighter;
	font-style: italic;
	line-height: 1;
	position: relative;
	top: 7.5rem;
}
#contacts a:first-child img {
	width:22px;
}
.socialm-icons {
	width: 27px;
	height: fit-content;
}
.socialm-text {
	font-size: 24px;
	height: fit-content;
}
#contacts {
	height: 100px;
	position: relative;
	top: 15rem; /*To align social media links to the bottom-row-grid-line of the cell*/
	display: flex; /*flex-box for social media links container*/
	flex-direction: row;
	column-gap: 2rem;
	align-items: start;
}
.socialm-link {
	height: 40px;
	text-decoration: none;
	display: flex; /* Flex-boxs to each social-link element to align it's children (socialm-icons & socialm-text)*/
	flex-direction: row;
	align-items: center;
}
.socialm-link:link,
.socialm-link:visited,
.socialm-link:hover,
.socialm-link:active,
#profile-link,
#greeting h1,
.sub-heading {
	color: var(--white-color);
}
#contacts-container,
footer {
	background-color: var(--darkblue-color);
	color: var(--white-color);
}
/*Styles --End---------contacts-container (Section 3)---------------*/

footer {
	
	height:20vh;
	font-size: 20px;
	border-top: 4px solid var(--red-color);
	display: grid;
	grid-template-rows: 1fr 10vh 1fr;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}
#disclamer {
	grid-row-start: 2;
	grid-column-start: 1;
	justify-self: center;
}
#copyright {
	grid-row-start: 2;
	grid-column-start: 2;
	justify-self: left;
}
