:root {
	--red-color: #be3144;
	--black-color: #1b1a1c;
	--white-color: #f0f0f0;
	--blue-color: #45567d;
	--bluishgray-color: #303841;
	--Raleway-font: "Raleway", sans-serif;
	--Poppins-font: "Poppins", sans-serif;
}
html {
	font-size: 62.5%; /* setting font size to 10px */
	scroll-behavior: smooth;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--Poppins-font);
	display: grid;
	grid-template-areas:	/* Main Grid layout begins*/
		"welcome"
		"projects"
		"contacts"
		"footer";
}
#nav-section {
	width: 100vw;
	position: fixed;
	background-color: var(--red-color);
	top: 0;
	left: 0;
	z-index: 100;
}
nav > ul {
	/* Navigation bar begins*/
	display: flex;
	flex-direction: row;

	list-style: none;
	width: fit-content;
	margin: 0 4rem 0 auto;
}
nav > ul > li {
	padding: 2rem;
	font-size: 2.2rem;
	color: var(--white-color);
}
nav > ul > li:hover {
	background-color: var(--blue-color);
}
nav > ul > li > a {
	text-decoration: none;
	color: var(--white-color);
}
#nav-section,
#nav-bar,
#nav-bar > ul {
	height: fit-content;
}
#navbar {
	margin: 0;
	height: inherit;
}

/* Navigation bar ends*/
.grid-area-1 {
	grid-area: welcome;
	height: 100vh;
}
.grid-area-2 {
	grid-area: projects;
	height: 1fr;
}
.grid-area-3 {
	grid-area: contacts;
	height: 90vh;
}
.grid-area-4 {
	grid-area: footer;
	height: 40vh;
} /* Main Grid layout ends*/
#welcome-section {
	display: flex; /*Section 1 (page 1)begins*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		45deg,
		var(--bluishgray-color),
		20%,
		var(--black-color)
	);
}
#greeting {
	width: inherit;
	text-align: center;
}
#greeting h1 {
	font-family: var(--Raleway-font);
	font-size: 6rem;
	color: var(--white-color);
	margin: 0;
}
#greeting p {
	font-size: 2.8rem;
	font-family: "Raleway", sans-serif;
	font-style: italic;
	margin: 0;
	color: var(--red-color);
} /*Section 1 (page 1)ends*/
#projects {
	width: inherti; /*Section 2 (page 2)begins*/
	padding-top: 4rem;
	background-color: var(--blue-color);
}
#projects h3 {
	font-family: var(--Raleway-font);
	font-size: 4.2rem;
	text-align: center;
	color: var(--white-color);
	border-bottom: 0.25rem solid var(--white-color);
	width: fit-content;
	line-height: 1.5;
	margin: 5.5rem auto;
}
.project-tile img {
	width: 40rem;
	max-width: 909px; /*original width of the image*/
	background-color: var(--bluishgray-color);
	display: block;
}
#tile-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.project-tile-text-A,
#profile-link {
	font-size: 2rem;
	text-decoration: none;
	background-color: var(--bluishgray-color);
	color: var(--white-color);
	display: block;
}
.project-tile-text-A,
.project-tile-text-B,
#profile-link {
	font-size: 2rem;
}
.project-tile-text-A {
	text-align: center;
	padding: 2rem 0;
}
.project-tile-text-B {
	/*Hover effect - child class*/
	color: transparent;
	transition: color 0.3s ease-out;
}
.project-tile:hover .project-tile-text-B {
	color: #ff7f50; /*Hover effect - parent class*/
}
#profile-link {
	width: fit-content;
	padding: 1rem 3rem;
	margin: 10rem auto;
}
#profile-link > span {
	display: inline-block; /* to apply translate effect */
}
#profile-link,
#profile-link > span {
	transition: background-color 350ms linear, transform 350ms linear;
}
#profile-link:hover {
	background-color: var(--red-color);
}
#profile-link:hover > span {
	transform: translateX(1rem);
}
#contacts-container {
	width: inherit; /*Section 3 (page 3)begins*/
	height: 85vh; /* to fit section 3 and footer inside a single page */
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bluishgray-color);
}
#contacts-container h2 {
	font-family: var(--Raleway-font);
	font-size: 6rem;
	line-height: 1.3;
}
#contacts-container p {
	font-size: 2rem;
	font-weight: 200;
	font-style: italic;
	height: fit-content;
}
#contacts a:first-child img {
	width: 22px;
}
#contacts-container h2,
#contacts-container p {
	text-align: center;
	color: var(--white-color);
}
#contacts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 3rem;
	margin-top: 4rem;
}
#contacts img {
	width: 3rem;
}
#contacts span {
	font-size: 2.4rem;
	text-shadow: 2px 2px 2px var(--black-color);
}
.socialm-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.5rem;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 600;
	transition: transform 350ms ease-out;
}
.socialm-link:hover {
	transform: translateY(1rem);
}
.socialm-text {
	font-weight: 400;
}
footer {
	width: inherit;
	background-color: var(--bluishgray-color);
	border-top: 0.4rem solid var(--red-color);
	display: flex;
	justify-content: space-evenly;
	padding: 3rem 0;
}
footer > p {
	font-size: 2rem;
	color: var(--white-color);
	width: fit-content;
	display: inline-block;
}

@media screen and (min-width: 240em) {
	html {
		font-size: 25px; /* 3840px */
		/* Ultra HD tv*/
	}
}
@media screen and (min-width: 120em) and (max-width: 239.93em) {
	html {
		font-size: 20px; /* 1920px and 3839px */
	} /* High Definision tv*/
}
@media screen and (min-width: 75em) and (max-width: 119.93em) {
	html {
		font-size: 10px; /* 1200px and 1919px */
	} /* Large Screens*/
}
@media screen and (min-width: 50em) and (max-width: 74.93em) {
	html {
		font-size: 14px; /* 800px and 1199px */
	} /* Tablets*/
}
@media screen and (min-width: 20em) and (max-width: 29.93em) {
	html {
		font-size: 8px; /* 320px and 479px */
	} /* Mobile Devices*/
	#contacts {
		margin: 2rem auto 0 auto;
		flex-direction: column;
		align-items: start;
		width: fit-content;
	}

	footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
