* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  border: 1px solid gray;
}
.project-tile img {
  width: 150px;
  gap:4rem;
  border: 1px solid red;
}
.project-tile {
  border: 1px solid yellow;
}
#tile-container {
  background-color: beige;
  border: 3px solid blue;
  display: flex;
  flex-direction: row;
}
